<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.islab.evilcomments">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="ru.islab.evilcomments.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:isGame="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ru.islab.evilcomments.presentation.follows.InstaLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher"></activity>
        <activity
            android:name="ru.islab.evilcomments.presentation.game.GameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Game"></activity>

        <activity
            android:name="ru.islab.evilcomments.presentation.sign_in.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Game">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.vk.sdk.VKServiceActivity" android:label="ServiceActivity" android:theme="@style/VK.Transparent" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3446552315762824~7307543567" />
    </application>

</manifest>